.welcome-container {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;

  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-content {
  text-align: center;
}
