.Welcome-Container {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;

  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-content {
  width: 90%;
  max-width: 500px;
  padding: 20px;
  text-align: center;
}
