.card-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;
  margin: 0;
}

.card-wrapper {
  background-color: grey;
  padding: 25px;
  flex: 1;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
