* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
main {
  flex: 1;
  width: 100%;
}

footer {
  background-color: #25292c;
  color: white;
  padding: 1px;
  padding-top: 10px;
  text-align: center;
}
